<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 style="font-family: 'French Script MT';font-size: 45px;color: blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You earn well but are unable to save. You have no idea where your salary goes. You are sometimes forced to borrow to pay your bills. If any of these statements applies to you, it’s time to write down a household budget.
Many people are put off by the word budget because they associate it with restrictions on spending and frugal lifestyles. That’s a misconception. Budgeting does not make you spend less, but allows you to spend smart. “A good budget lets you focus your money on the things that are most important to you,” says personal finance expert Carl Richards. By preventing you from overspending on less important items, a budget channelises resources to areas that should be given priority.
</h2>
the concept is anchor tags
external links
sundar pichay
sundar ramachandra pichai:-
sundar pichai(born June 10, 1972[5]), also known as Sundar Pichai (/ˈsʊndɑːr pɪˈtʃaɪ/), is an Indian American business executive.[6] He is an engineer and the chief executive officer (CEO) of Google LLC.[7][8][9] Formerly the Product Chief of Google, Pichai's current rolewas announced on August 10, 2015, as part of the restructuring process that made Alphabet Inc. into Google's parent company,[10] and he assumed the position on October 2, 2015.[11].pichai's facebook account

internal links

</body>
</html>