<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title> My Home-Budjet/Expert Tips</title>
  </head>
  <body>

<br>
<div align="center">
    {% include 'navs.html' %}
</div>

<br><br>
      <div align="justify" style="font-size: 65px;padding-left: 75px;padding-right: 75px">
 <b>A financial expert shares 7 tips to build a realistic household-budget</b><br><br>
          <img src="{% static 'Screenshot (148).png' %}" width="100%" height="500px">
      </div><br><br>
<table align="center" >
    <tr>
        <th width="50%" style="padding-left: 300px">

<iframe width="100%" height="415" src="https://www.youtube.com/embed/mTi8ZQz0wpw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </th>
        <th width="30%" style="padding-left: 50px">


Click These Tips.. It Will Redirect To U That's One...<br><br>

<div id="list-example" class="list-group">
  <a class="list-group-item list-group-item-action" href="#list-item-1">1. Make a list of all your monthly expenses</a>
  <a class="list-group-item list-group-item-action" href="#list-item-2">2. Figure out how much you’re spending</a>
  <a class="list-group-item list-group-item-action" href="#list-item-3">3. Calculate how much of your pay goes toward expenses</a>
  <a class="list-group-item list-group-item-action" href="#list-item-4">4. Make your adjustments.</a>
    <a class="list-group-item list-group-item-action" href="#list-item-5">5. Factor in discretionary spending.</a>
    <a class="list-group-item list-group-item-action" href="#list-item-6"> 6. Budgets alone are useless . . . you must execute</a>
    <a class="list-group-item list-group-item-action" href="#list-item-7"> 7. Expect the Unexpected (Emergency Fund) </a>

</div>



        </th>





    </tr></table>
<br><br><br><br><br><br>
<table align="center">
    <tr>
        <th>

            <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">

  <h4 id="list-item-1" style="padding-left: 95px;padding-right: 95px;font-size: 35px;color: rebeccapurple">1. Make a list of all your monthly expenses</h4>
                <br><br>

  <p style="padding-left: 250px;padding-right: 135px;color: dodgerblue;font-size: 20px"> <b>The first step, Aliche says, is to figure out what you’re spending on. That means making <br>a list of all your expenses, including both the fixed monthly costs, such as rent and utilities,<br> and the more variable spending around food and gas. “I like to call that your money list.<br> Quote me on that one,” Aliche says with a chuckle.<br>
<br><br>
      To find all this information, start with your credit card bills and bank statements, Aliche<br> says. You may need to go back a few months to get a handle on what you’re regularly<br> spending. Keep in mind that it may help to organize your spending into categories such as <br>food, shopping and bills.</b>  </p><br><br>


  <h4 id="list-item-2" style="padding-left: 95px;padding-right: 95px;font-size: 35px;color: rebeccapurple">2. Figure out how much you’re spending</h4><br><br>
  <p style="padding-left: 250px;padding-right: 135px;color: dodgerblue;font-size: 20px">   Once you have a comprehensive money list, the next step is to calculate how much you spend on<br> each line item. Again, it may be easy to figure out expenses such as a mortgage or a car payment,<br> but many may require you to do some math and create an average.
<br><br><br>

Let’s say your water bill is due every three months and it’s 90 bucks. Divide $90 by three to get your<br> monthly spend of $30.

If doing this yourself doesn’t seem feasible, there are several highly rated<br> budgeting apps, including Mint (free), which automatically compile and categorize your expenses....</p><br><br>
  <h4 id="list-item-3" style="padding-left: 95px;padding-right: 95px;font-size: 35px;color: rebeccapurple">3. Calculate how much of your pay goes toward expenses</h4><br><br>
  <p style="padding-left: 250px;padding-right: 135px;color: dodgerblue;font-size: 20px">    This is what Aliche likes to call the “tears and tissues” step. Here’s why: You need to add up all your<br> average monthly expenses and compare the total to your take-home pay. “That number mightcause<br> some tears and you might need some tissues,” Aliche says, especially if it’s more than you’re currently<br> earning. But that’s OK because it’s just the beginning — you’re in the process  out where you stand....</p><br><br>


                  <h4 id="list-item-4" style="padding-left: 95px;padding-right: 95px;font-size: 35px;color: rebeccapurple">4. Make your adjustments.</h4><br><br>
  <p style="padding-left: 250px;padding-right: 135px;color: dodgerblue;font-size: 20px"> If you have leftover money, good: that can be put toward savings or debt. If your figure is negative, it's<br> time to make changes.

If in the latter camp, start with adjusting your discretionary spending. Cutting<br> back on takeout can save a lot more than you might think. <br><br>

Also, consider your monthly expenses: Would a smart thermostat help control energy costs? Can you<br> consolidate debt repayment or refinance student loans? Even if you're in the black, planning a monthly<br> budget can clue you into new areas where you can save.
  ...</p><br><br>



                                  <h4 id="list-item-5" style="padding-left: 95px;padding-right: 95px;font-size: 35px;color: rebeccapurple">5. Factor in discretionary spending.</h4><br><br>
  <p style="padding-left: 250px;padding-right: 135px;color: dodgerblue;font-size: 20px"> Budgets have evident use in the near-term. Segmenting your spending categories while planning a home<br> budget gives you precise insight into your financial health. However, it is important not to forget their value<br> outside the immediate time frame, as your long-term financial goals and objectives are all part of the same<br> budgeting conversation.<br><br>

While long-term financial planning is undoubtedly different from home budget planning, there are intersections<br> between the two. For instance, it helps to know what monthly retirement account contributions you make as you <br>plan out your golden years and what you will need to live comfortably. If you need to increase those amounts,<br> finding ways to trim discretionary spending through a home budget plan is a simple way to prioritize long-term goals.<br> When you have a home and family to look after, the links between near-term budgeting and long-term financial well-<br>being are clear.<br><br>

The same workflow can be applied to any type of savings families want to increase or establish. Emergency funds are<br> necessary to maintain, but often at the very end of the considerations list. College may seem incredibly far down the<br> road, but wait too long to start saving and challenges arise. When you have a full picture of your current finances and<br> your future goals, you can more easily marry the two: And it all starts with planning a home budget.<br><br>

</p><br><br>

                                  <h4 id="list-item-6" style="padding-left: 95px;padding-right: 95px;font-size: 35px;color: rebeccapurple">6. Budgets alone are useless . . . you must execute </h4><br><br>
  <p style="padding-left: 250px;padding-right: 135px;color: dodgerblue;font-size: 20px"> How many times have you set up a budget in Excel or your favorite budgeting tool and then completely forgotten about<br> it? Many times setting up the budget makes us feel like we are doing the right thing, but it doesn’t have any meaningful<br> effect on how we spend our money. Budgets alone are useless; we need to execute on the plan.
</p><br><br>

                                                  <h4 id="list-item-7" style="padding-left: 95px;padding-right: 95px;font-size: 35px;color: rebeccapurple">7. Expect the Unexpected (Emergency Fund)  </h4><br><br>
  <p style="padding-left: 250px;padding-right: 135px;color: dodgerblue;font-size: 20px"> There are some expenses you know are coming, but you don’t know when or how much. Home and car repairs are a perfect<br> example. Here there is some guess work involved. We make the best estimate we can of how much to set aside each month.<br>  With enough experience, you’ll be able to make reasonable estimates for these expenses. And even if you come up short, at <br> least you’ll have some of the cash you’ll need to handle these unexpected costs.
</p><br><br>


</div>
        </th>
    </tr>
</table>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>