

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <title></title>
          <script>
    $(document).ready(function () {
        var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: [{% for i in qs %}'{{ i.status }}',{% endfor %}],
        datasets: [{
            label: 'My Graphs',
            data: [{% for i in qs %}{{ i.value }},{% endfor %} ],
            backgroundColor: [
                'rgb(63, 191, 63)',
                'rgb(240, 29, 78)',
                'rgba(221, 248, 11, 0.9)',
                'rgb(75, 192, 192, 0.2)',
                'rgb(153, 102, 255, 0.2)',

            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
    });
    </script>
  </head>
  <body>

  <div align="center">
      {% include 'navs.html' %}
  </div>
  <br><br>
  <div align="center" style="padding-left: 15%;padding-right: 15%;">
<nav class="navbar navbar-expand-lg navbar-light bg-dark" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'user_dashboard' %}"><span style="color: white" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Profile</span> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
      </li>


                 <li class="nav-item">
        <a class="nav-link" href="{% url 'conults' %}" tabindex="-1" ><span style="color: white"  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Consultants</span></a>
      </li>



       <li class="nav-item">
        <a class="nav-link" href="{% url 'graph' %}" tabindex="-1" ><span style="color: white" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My Graphs</span></a>
      </li>



    </ul>

  </div>


 {% if request.user.is_authenticated %}
      <div class="cart">
          <a href="{% url 'my_slots' %}" ><button id="cartOpen" class="btn btn-outline-warning" style="border-radius: 0.8cm " ><i class="ti-bag">My Slots = {{ request.user.slots_set.count }}</i><span class="d-xs-none"> </span></button></a>
      </div>
      {% endif %}
</nav>
  </div>
<br><br>
  <div align="center">
      <b style="color: #b70c90
;font-size: 50px">{{ request.user.username }}</b> &nbsp;&nbsp;&nbsp; <i style="font-size: 30px;color: #49c5ff" >Graphical dashboard</i>
  </div> <br><br>


    <canvas id="myChart" width="400" height="100"></canvas>

  </body>
</html>



