<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title> My Home-Budjet</title>
  </head>
  <body>

  <span style="color: dodgerblue;font-size: 20px" ><marquee >Make A Budjet Of Ur Expensess And Save A Part From Your Expensives...It's Save Ur Futere </marquee></span>
  <br>
  <div align="center">
    {% include 'navs.html' %}
</div>
  <br>
  <br>

  <h1 align="center" style="font-family: 'Agency FB';font-size: 55px;color: black">
      Why you need a household budget and how to set spending limits,saving targets....!
  </h1>
  <br>
  <table >
      <tr>
          <th >
              <img src="{% static 'budjet3.jpg' %}" width="400" height="400" >
          </th>
           <th style="width: 75%">
<h2 style="font-family: 'French Script MT';font-size: 45px;color: blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You earn well but are unable to save. You have no idea where your salary goes. You are sometimes forced to borrow to pay your bills. If any of these statements applies to you, it’s time to write down a household budget.
Many people are put off by the word budget because they associate it with restrictions on spending and frugal lifestyles. That’s a misconception. Budgeting does not make you spend less, but allows you to spend smart. “A good budget lets you focus your money on the things that are most important to you,” says personal finance expert Carl Richards. By preventing you from overspending on less important items, a budget channelises resources to areas that should be given priority.
</h2>
          </th>
      </tr>
  </table>



  <pre>

  </pre>



  <p style="font-family: 'Agency FB';font-size: 50px">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    From a study of this budget, we may draw the following conclusions:<br>
     </p>
  <h5 >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="font-family: 'French Script MT';color:darkviolet;font-size: 40px" >(a) That very small percentage of income is being spent on children’s education, religious and social functions, travelling, entertainment and luxuries,<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (b) Expenditure on light and medical aid is negligible,<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(c) But the biggest item of expenditure is food which absorbs 60% of the income.
  </span></h5>
<table align="center">
    <tr>
        <th width="1000px" height="500px">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" >
        <img src="{% static 'Screenshot (71).png' %}" class="d-block w-100" alt="..."  height="300">
    </div>
       <div class="carousel-item">
      <img src="{% static 'budjet 5.jpg' %}" class="d-block w-100" alt="..."  height="300">
    </div>
    <div class="carousel-item">
      <img src="{% static 'Screenshot (72).png' %}" class="d-block w-100" alt="..."  height="300">
    </div>

    <div class="carousel-item">
      <img src="{% static 'Screenshot (101).png' %}" class="d-block w-100" alt="..." width="400" height="300">
    </div>

       <div class="carousel-item">
      <img src="{% static 'Screenshot (117).png' %}" class="d-block w-100" alt="..." width="400" height="300">
    </div>
       <div class="carousel-item">
      <img src="{% static 'Screenshot (140).png' %}" class="d-block w-100" alt="..."  height="300">
    </div>
       <div class="carousel-item">
      <img src="{% static 'Screenshot (141).png' %}" class="d-block w-100" alt="..."  height="300">
    </div>
       <div class="carousel-item">
      <img src="{% static 'Screenshot (142).png' %}" class="d-block w-100" alt="..."  height="300">
    </div>
       <div class="carousel-item">
      <img src="{% static 'Screenshot (143).png' %}" class="d-block w-100" alt="..."  height="300">
    </div>



  </div>
</div>
        </th>
    </tr>
</table>
<br>
  <p align="center" >
     <span style="font-family: 'French Script MT';font-size: 40px;color: black" > Overspending on eating out and clothing is the most common reason why young people lose out on the golden years of compounding. If you save Rs 10,000 a month in an option that earns 10% annually, your corpus at the end of 30 years would be a massive Rs 2.16 crore. But if you start five years late at 35, your corpus will be smaller by almost Rs 96 lakh. The derailing of financial goals is not the only problem. Shopaholism can ruin careers, wreck relationships and cause disharmony in married life.
     </span><br>
      <span style="font-family: 'French Script MT';font-size: 40px;color: darkviolet" >An online survey conducted by ET Wealth found that spending too much was the most common reason for money arguments among couples. The problem was very pronounced (52%) among younger couples below 30, and gradually decreased (34.9%) among older people after 40.An online survey conducted by ET Wealth found that spending too much was the most common reason for money arguments among couples. The problem was very pronounced (52%) among younger couples below 30, and gradually decreased (34.9%) among older people after 40.
</span><br>
<span style="font-family: 'French Script MT';font-size: 40px;color: chartreuse" >As we all know, the profusion of choices offered by e-retailers and the convenience of online payments have led to an overshopping epidemic in India. Most buyers, especially the younger set, don’t realise that every unnecessary purchase pushes back their long-term goals. “Shopping is not a vice, but it can become a problem if the expenses prevent the individual from saving for critical financial goals,” says D.P. Singh of SBI Mutual Fund. Budgeting can prevent such situations. It prioritises you ..
</span>
  <br> <br>
      <h1  align="center" style="font-family: 'Agency FB';font-size: 70px">
      Popular Financial Experts For Ur HomeBudjet
  </h1>
   <br> <br>
              <table align="center">
    <tr>
    <th>
        <img src="{% static 'exp1.jpg' %}" width="200"  style="border-radius: 6.0cm " height="200" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </th>
        <th>

            <table align="center">
                <tr>
                    <th>

                        <table align="center">
                            <tr>
                                  <th>
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family: 'French Script MT';font-size: 30px" >yes though the budget is liberal, even in fifties we used to have this and this has made us successful in life no doubt. i still remember,<br> my wife in her budgeting used to make first totalling as itharam(misc) and second total as Misc expenses and third as unexpected expenses every<br> month and i found at the end of a five year substantial in various pots in kitchen and even my wife wondered when  ..</span><br>
                                      <h6 align="right" style="font-family: 'French Script MT';font-size: 30px;color: red" >---------Ramaswami Narayan</h6>

                    </th>
                            </tr>
                        </table>
                    </th>


                </tr>
            </table>
        </th>

</tr></table>
  <br>
                <table align="center">
    <tr>
    <th>
       <img src="{% static 'exp2.png' %}" width="200"  style="border-radius: 6.0cm " height="200" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </th>
        <th>

            <table align="center">
                <tr>
                    <th>

                        <table align="center">
                            <tr>
                                  <th>
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family: 'French Script MT';font-size: 30px" > Well, if you ask me, the most critical part of structuring your finances and optimizing savings is just having a plan. Whether you use<br> a spreadsheet or a tool like Geltbox Money  — you have to get everything out in front of you so you can make smarter decisions. Once you do that,<br> then implementing your disciplined savings strategy becomes critical.</span><br>
                                      <h6 align="right" style="font-family: 'French Script MT';font-size: 30px;color: red" >---------James Taylor</h6>


                    </th>
                            </tr>
                        </table>
                    </th>


                </tr>
            </table>
        </th>

</tr></table>
  <br><br>
                  <table align="center">
    <tr>
    <th>
       <img src="{% static 'Screenshot (144).png' %}" width="200"  style="border-radius: 6.0cm " height="200" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </th>
        <th>

            <table align="center">
                <tr>
                    <th>

                        <table align="center">
                            <tr>
                                  <th>
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family: 'French Script MT';font-size: 30px" >I recommend trying the iSmart.Life app. They have a demo and you can understand whether it suits you or not. This is a free and very<br> convenient web app. This app has an interesting interface and services. Has a service for budget planning. You can enter monthly expenses,<br> expenses for tasks and individual expenses. Everything is very simple and convenient...</span><br>
                                      <h6 align="right"  style="font-family: 'French Script MT';font-size: 30px;color: red" >---------GSerhii</h6>



                    </th>
                            </tr>
                        </table>
                    </th>


                </tr>
            </table>
        </th>

</tr></table>
  <pre>



  </pre>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>